<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">     
        <li class="nav-item">
            <a class="nav-link disabled" (click)="logOut()">Log out</a>
        </li>
    </ul>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-4">
            <div class="card" style="width: 18rem;">
                <img src="https://i.blogs.es/e495b3/homer_simpson/450_1000.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Homer Jay Simpson</p>
                  <p class="card-text">Springfield</p>
                  <p class="card-text">Your token is:</p>
                </div>
              </div>
        </div>
    </div>
</div>